<div class="f__radio {{#inline}}f__radio_inline{{/inline}}">
  <label>
    <input type="radio" name="radio"/>Option one
  </label>
</div>
<div class="f__radio {{#inline}}f__radio_inline{{/inline}}">
  <label>
    <input type="radio" name="radio"/>Option two
  </label>
</div>
<div class="f__radio disabled {{#inline}}f__radio_inline{{/inline}}">
  <label>
    <input type="radio" name="radio" disabled="disabled"/>Option three is disabled
  </label>
</div>
