<aside class="sidenav-2">
  <div class="sidenav-2__header">
    <h3 class="sidenav-2__title">Feeds</h3>
  </div>
  <div class="sidenav-2__body">
    <a href="#" class="sidenav-2__item active">Intro</a>
    <div class="sidebar__collapse">
      <a href="#" class="sidenav-2__item" id="s2-activate">Symbalus</a>
      <div class="sidenav-2__collapse-body" id="s2-content">
        <a href="#" class="sidenav-2__sub-item mlmd">Level 1</a>
        <a href="#" class="sidenav-2__sub-item mlmd">Level 2</a>
        <a href="#" class="sidenav-2__sub-item mlmd">Level 3</a>
        <a href="#" class="sidenav-2__sub-item mlmd">Level 4</a>
        <a href="#" class="sidenav-2__sub-item mlmd">Level 5</a>
      </div>
    </div>
    <a href="#" class="sidenav-2__item">Mock exam</a>
    <a href="#" class="sidenav-2__item">Discussion (2)</a>
    <a href="#" class="sidenav-2__item">Reviews (1)</a>
    <a href="#" class="sidenav-2__item">Helps</a>
  </div>
</aside>
