<aside class="sidenav">
  <div class="sidenav__header">
    <h3 class="sidenav__title">Practice</h3>
  </div>
  <div class="sidenav__body">
    <a href="#" class="sidenav__item active">Introduction</a>
    <div class="sidebar__collapse">
      <a href="#" class="sidenav__item" id="activate">Symbalus</a>
      <div class="sidenav__collapse-body" id="content">
        <a href="#" class="sidenav__item mlmd">Level 1</a>
        <a href="#" class="sidenav__item mlmd">Level 2</a>
        <a href="#" class="sidenav__item mlmd">Level 3</a>
        <a href="#" class="sidenav__item mlmd">Level 4</a>
        <a href="#" class="sidenav__item mlmd">Level 5</a>
      </div>
    </div>
    <a href="#" class="sidenav__item">Mock exam</a>
    <a href="#" class="sidenav__item">Discussion</a>
    <a href="#" class="sidenav__item">Reviews</a>
    <a href="#" class="sidenav__item">Q&A/Help</a>
  </div>
</aside>
