<div class="lf lf_align-middle mbmd">
  <div class="lf_full-space list-h-scroll no-scrollbar mrmd">
    <div class="mrsm d-ib"><a class="wtag mrsm" href="/topics/VG9waWMtLS0x">IELTS</a><a class="wtag mrsm" href="/topics/VG9waWMtLS0y">TOEFL</a></div>
    <ul class="list-inline-2 txt-small d-ib">
      <li class="txt-muted">5 Trả lời</li>
      <li class="txt-muted">0 Lượt xem</li>
    </ul>
  </div>
  <div>
    <div class="wtag-2">Q&A</div>
  </div>
</div>