<div class="row ptxxlg">
  <div class="large-9 column">
    <div class="h">
      <h3 class="h__content">Feeds</h3>
    </div>
    {{> organisms-question}}
    <div class="divider"></div>
    {{> organisms-question}}
    <div class="divider"></div>
    {{> organisms-question}}
    <div class="divider"></div>
    {{> organisms-question}}
    <div class="divider"></div>
    {{> organisms-question}}
    <div class="divider"></div>
  </div>
  <div class="large-3 column">
    <div class="panel panel_special">
      <div class="panel__heading">
        <h3 class="panel__title">Essay edit stats</h3>
      </div>
      <div class="panel__body">
        <ul class="txt-small">
          <li class="mbsm">3k essays</li>
          <li class="mbsm">145 editors</li>
          <li class="mbsm">78 teachers</li>
          <li class="mbsm">2k topic edited</li>
        </ul>
      </div>
    </div>
  </div>
</div>