<header class="app-header">
  <div class="app-header__wrap" style="position: relative">

    <div class="app-header__main">

      <a href="#" class="app-header__logo mrxlg">
        <h1 class="sr-only">Nessa</h1>
        <img src="/images/Logo-beta.png" width="120" alt="Nessa logo">
      </a>

      <div class="app-header__nav mrlg">
        {{> molecules-navigation}}
      </div>

      <div class="app-header__action-box mrlg">
        <div class="lf lf_justify-end">
          <!-- Search form -->
          <div class="app-header__search-box lf_full-space">
            <form>
              <div class="app-header__search-wrap">
                <input class="app-header__search-input" type="search" placeholder="Tim kiem voi Wonder" />
                <button class="app-header__search-btn">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>

          <div class="mlsm">
            <button class="btn btn_primary">Đặt câu hỏi</button>
          </div>
        </div>
      </div>

      <!-- Notification -->
      {{!--
      <div class="badge txt-center mrlg">
        <a href="#" class="badge__icon txt-white">
          <i class="fa fa-bell-o fa-lg"></i>
        </a>
        <div class="badge__addon">1</div>
      </div> --}}

      <div class="nav">
        <a href="#" class="nav__link">
          Profile <i class="fa fa-caret-down"></i>
        </a>
      </div>

      <!-- <div class="lf">
        <button class="btn btn_small btn_special br-r-tr-br">VI</button>
        <button class="btn btn_small btn_special br-r-tl-bl">EN</button>
      </div> -->

    </div>

  </div>
</header>
