<div class="well">
  <div class="row column mbxlg">
    <div class="h">
      <h3 class="h__content">Meet our top editors</h3>
    </div>
  </div>

  <div class="row small-up-2 medium-up-4">
    <div class="column column-block txt-center">
      <div class="mbmd">
        <img src="https://unsplash.it/300" style="max-width: 200px" alt="" class="img-apple img-full-width" />
      </div>
      <h3>Jaime	Baker</h3>
      <div>These aliens are a type of aquatic mammal.</div>
    </div>

    <div class="column column-block txt-center">
      <div class="mbmd">
        <img src="https://unsplash.it/300" style="max-width: 200px" alt="" class="img-apple img-full-width" />
      </div>
      <h3>Gail	Padilla</h3>
      <div>Their skin is smooth.</div>
    </div>

    <div class="column column-block txt-center">
      <div class="mbmd">
        <img src="https://unsplash.it/300" style="max-width: 200px" alt="" class="img-apple img-full-width" />
      </div>
      <h3>Chester	Stevenson</h3>
      <div>They have a large, powerful tail and long anal fin.</div>
    </div>

    <div class="column column-block txt-center">
      <div class="mbmd">
        <img src="https://unsplash.it/300" style="max-width: 200px" alt="" class="img-apple img-full-width" />
      </div>
      <h3>Antonia	Guzman</h3>
      <div>Which tend to become dim as they age.</div>
    </div>
  </div>
</div>
