{
  "extends": "stylelint-config-primer",
  "rules": {
    "primer/selector-no-utility": null,
    "plugin/no-unsupported-browser-features": [true, {
      "severity": "warning",
      "browsers": [
        "> 5%",
        "last 2 firefox versions",
        "last 2 chrome versions",
        "last 2 safari versions",
        "last 2 edge versions",
        "ie 11"
      ],
      "ignore": ["flexbox", "wordwrap", "word-break", "css3-cursors", "outline", "will-change"]
    }]
  }
}
