<header class="app-mobile-header">
  <div class="app-mobile-header__content">
    <a href="#" class="app-mobile-header__logo">
      <h1 class="sr-only">Nessa</h1>
      <img src="/images/Logo-beta.png" width="90" alt="Nessa logo">
    </a>
    <button class="app-mobile-header__btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <div class="app-mobile-header__list">
    {{> molecules-mobile-navigation}}
  </div>
</header>