<div class="f__checkbox {{#inline}}f__checkbox_inline{{/inline}}">
  <input id="cb-a-1" type="checkbox" />
  <label for="cb-a-1">Option one</label>
</div>
<div class="f__checkbox disabled {{#inline}}f__checkbox_inline{{/inline}}">
  <input id="cb-a-2" type="checkbox" disabled="disabled" />
  <label for="cb-a-2">Option two is disabled</label>
</div>
<div class="f__checkbox {{#inline}}f__checkbox_inline{{/inline}}">
  <input id="cb-a-3" type="checkbox" />
  <label for="cb-a-3">Option three</label>
</div>