<p>
  Penthouse là căn hộ nằm trên tầng cao nhất của một tòa nhà. Các chủ đầu tư chung cư thường tận dụng không gian rộng rãi của tầng trên cùng để thiết kế những căn hộ đặc biệt này. Căn hộ penthouse cũng có nhiều biến thể, khi có thể được làm thông tầng, kết hợp với sân vườn
</p>
