<div class="f__group mtlg">
  <input type="text" class="f__control-2{{#error}} f__control-2_error{{/error}}" id="ex-input-2" {{#disabled}} disabled{{/disabled}} />
  <label for="ex-input-2" class="f__label-2">Text input</label>
</div>
{{#error}}<span class="f__help-text txt-danger-color">Only accept @gmail.com</span>{{/error}}