<div class="nav-tab">
  <ul id="nav-tab" class="nav-tab__list">
    <li role="presentation" class="nav-tab__item active">
      <a href="#" class="nav-tab__link">Suggess</a>
    </li>
    <li role="presentation" class="nav-tab__item">
      <a href="#" class="nav-tab__link">Hot questions</a>
    </li>
    <li role="presentation" class="nav-tab__item">
      <a href="#" class="nav-tab__link">Answers</a>
    </li>
    <li role="presentation" class="nav-tab__item">
      <a href="#" class="nav-tab__link">About me</a>
    </li>
  </ul>
</div>
