<ul class="nav-tab-v">
  <li class="nav-tab-v__item active">
    <a href="#" class="nav-tab-v__link">
      <span class="nav-tab-v__text">Text text text</span>
      <span class="nav-tab-v__addon">32</span>
    </a>
  </li>
  <li class="nav-tab-v__item">
    <a href="#" class="nav-tab-v__link">
      <span class="nav-tab-v__text">Text text text</span>
      <span class="nav-tab-v__addon">32</span>
    </a>
  </li>
  <li class="nav-tab-v__item">
    <a href="#" class="nav-tab-v__link">
      <span class="nav-tab-v__text">Text text text</span>
      <span class="nav-tab-v__addon">32</span>
    </a>
  </li>
  <li class="nav-tab-v__item">
    <a href="#" class="nav-tab-v__link">
      <span class="nav-tab-v__text">Text text text</span>
      <span class="nav-tab-v__addon">32</span>
    </a>
  </li>
</ul>
