<div class="f__checkbox {{#inline}}f__checkbox_inline{{/inline}}">
  <label>
    <input type="checkbox"/> Option one
  </label>
</div>
<div class="f__checkbox disabled {{#inline}}f__checkbox_inline{{/inline}}">
  <label>
    <input type="checkbox" disabled/> Option two is disabled
  </label>
</div>
<div class="f__checkbox {{#inline}}f__checkbox_inline{{/inline}}">
  <label>
    <input type="checkbox"/> Option three
  </label>
</div>