<div class="mbmd">
  <div class="f__input-group">
    <span class="f__input-addon br-r-tr-br">@</span>
    <input class="f__control f__control_ig br-r-tl-bl" />
  </div>
</div>

<div class="mbmd">
  <div class="f__input-group">
    <input class="f__control f__control_ig br-r-tr-br"/>
    <span class="f__input-addon br-r-tl-bl">@example.com</span>
  </div>
</div>

<div class="mbmd">
  <div class="lf mbmd">
    <input class="f__control lf_full-space br-r-tr-br"/>
    <button class="btn btn_primary br-r-tl-bl">@example.com</button>
  </div>
</div>

<div class="mbmd">
  <div class="f__input-group mbmd">
    <span class="f__input-addon br-r-tr-br">$</span>
    <input class="f__control f__control_ig br-reset"/>
    <span class="f__input-addon br-r-tl-bl">.00</span>
  </div>
</div>

<label for="basic-url">Your vanity URL</label>
<div class="f__input-group">
  <span class="f__input-addon br-r-tr-br">https://example.com/users/</span>
  <input type="text" class="f__control br-r-tl-bl"/>
</div>
