/* Flex layout */

.lf {
  display: flex;
  // flex-wrap: wrap;

  &_direction-column {
    flex-direction: column;
  }

  &_flex-1 {
    flex: 1;
  }

  &_justify-end {
    justify-content: flex-end;
  }

  &_justify-center {
    justify-content: center;
  }

  &_full-space {
    flex-grow: 1;
  }

  &_align-middle {
    align-items: center;
  }

  &_align-start {
    align-items: flex-start;
  }

  &_align-stretch {
    align-items: stretch;
  }

  // &_no-wrap {
  //   flex-wrap: nowrap;
  // }

  &_wrap {
    flex-wrap: wrap;
  }

  /* no grow and shrink */

  &_no-gas {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

/* Clearfix */

.clearfix {
  clear: fix;
}

/* Grid CSS */
.grid-1 {
  width: 100%;
  max-width: 660px;
  clear: fix;

  &__item {
    float: left;
    width: 16.8%;
    margin-bottom: 4%;

    &:not(:nth-child(5n)) {
      margin-right: 4%;
    }
  }
}
