<header class={cls}>
  <div class="app-header__main">

    <div class="row column lf lf_align-middle large-mbsm mblg">

      <a href="/example-pages/homepage" class="app-header__logo medium-mrsm mrmd">
        <h1 class="mb-reset show-for-medium">Wonder</h1>
        <h1 class="mb-reset show-for-small-only">W</h1>
      </a>

      <div class="app-header__action-box medium-mrmd mrlg">

        <div class="lf">

          <!-- Search form -->
          <div class="app-header__search-box lf_full-space">
            <form>
              <div class="app-header__search-wrap">
                <input class="app-header__search-input shadow" type="search" placeholder="Tim kiem voi Wonder" />
                <button class="app-header__search-btn">
                <i class="fa fa-search"></i>
              </button>
              </div>
            </form>
          </div>

          <div class="app-header__cta-box mlmd">
            <button class="btn btn_warning btn_large shadow txt-uppercase">Hỏi</button>
          </div>
        </div>

      </div>

      <!-- Notification -->
      <div class="badge medium-mrmd mrxlg">
        <a href="#" class="badge__icon txt-white">
          <i class="fa fa-bell fa-lg"></i>
        </a>
        <div class="badge__addon">1</div>
      </div>

      <div>
        <a href="/example-pages/user-detail" class="lf lf_align-middle txt-white">
          <img src="https://unsplash.it/40" class="img-circle mrsm" alt="avatar" />
          <div class="show-for-medium">Nguyen ABC XYX</div>
        </a>
      </div>

    </div>

    <nav class="nav">
      <a href="/example-pages/homepage" class="nav__link">
        <i class="fa fa-home"></i> <span class="show-for-medium">Trang chủ</span>
      </a>
      <a href="/example-pages/blog" class="nav__link">
        <i class="fa fa-comments"></i> <span class="show-for-medium">Blog</span>
      </a>
      <a href="#" class="nav__link">
        <i class="fa fa-pencil"></i> <span class="show-for-medium">Essay edit</span>
      </a>
      <!-- <a href="#" class="nav__link">
        <i class="fa fa-video-camera"></i> <span class="show-for-medium">Live session</span>
      </a> -->
      <!-- <a href="/example-pages/vocab" class="nav__link">
        <i class="fa fa-edit"></i> <span class="show-for-medium">Vocab</span>
      </a>
      <a href="/example-pages/quiz-test" class="nav__link">
        <i class="fa fa-question-circle"></i> <span class="show-for-medium">Quiz/Test</span>
      </a> -->
    </nav>

  </div>