<div class="panel {{#primary}}panel_primary{{/primary}} {{#success}}panel_success{{/success}} {{#info}}panel_info{{/info}} {{#warning}}panel_warning{{/warning}} {{#danger}}panel_danger{{/danger}} {{#special}}panel_special{{/special}} {{#specialBorder}}panel_special-border{{/specialBorder}}">
  <div class="panel__heading">
    <h3 class="panel__title">Panel title</h3>
  </div>
  <div class="panel__body">
    Travel from here to there for a 3 day weekend break from only £25 return.
  </div>
  <!-- <div class="panel__footer">Panel footer</div> -->
</div>