<nav class="mobile-nav ptmd">
  <a href="#" class="mobile-nav__link active">Nav</a>
  <a href="#" class="mobile-nav__link">Nav</a>
  <a href="#" class="mobile-nav__link">Nav</a>
  <a href="#" class="mobile-nav__link">Nav</a>
</nav>
