<nav class="nav">
  <a href="#" class="nav__link">
    <i class="fa fa-home fa-lg"></i>
    <div class="nav__text">Home</div>
  </a>
  <a href="#" class="nav__link">
    <i class="fa fa-pencil-square-o fa-lg"></i>
    <div class="nav__text">Blog</div>
  </a>
  <a href="#" class="nav__link">
    <i class="fa fa-file-text-o fa-lg"></i>
    <div class="nav__text">Essay</div>
  </a>
</nav>
