<div class="btn-dropdown" id="btnDropdow">
  <div class="btn btn-dropdown__btn">
    Button <i class="fa fa-caret-down"></i>
  </div>
  <div class="btn-dropdown__menu">
    <button class="btn-dropdown__item">Thank</button>
    <button class="btn-dropdown__item">Bookmark</button>
    <button class="btn-dropdown__item">Edit</button>
    <button class="btn-dropdown__item">Delete</button>
  </div>
</div>