<div class="panel mbxlg">
  <div class="panel__body">
    <div class="loader">
      <div class="loader__line loader__line_tall mbmd"></div>
      <div class="loader__line loader__line_circle mbsm"></div>
      <div class="loader__line loader__line_medium mbsm"></div>
      <div class="loader__line loader__line_short mbsm"></div>
      <div class="loader__line loader__line_medium mbsm"></div>
    </div>
  </div>
</div>
