<table class="table">
  <tr>
    <td>
      <div class="loader__line loader__line_medium mbsm"></div>
    </td>
    <td>
      <div class="loader__line loader__line_short mbsm"></div>
    </td>
    <td>
      <div class="loader__line loader__line_medium mbsm"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="loader__line loader__line_medium mbsm"></div>
    </td>
    <td>
      <div class="loader__line loader__line_short mbsm"></div>
    </td>
    <td>
      <div class="loader__line loader__line_medium mbsm"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="loader__line loader__line_medium mbsm"></div>
    </td>
    <td>
      <div class="loader__line loader__line_short mbsm"></div>
    </td>
    <td>
      <div class="loader__line loader__line_medium mbsm"></div>
    </td>
  </tr>
</table>
