<div class="btn-split">
  <button class="btn btn_primary br-r-tr-br">Button text</button>
  <button class="btn btn_primary btn-split__addon br-r-tl-bl">
    <i class="fa fa-search"></i>
  </button>
</div>

<div class="btn-split">
  <button class="btn btn_primary br-r-tr-br">Button text</button>
  <button class="btn btn_primary btn-split__addon br-r-tl-bl">
    <i class="fa fa-search"></i>
  </button>
</div>
