<button class="btn {{#primary}}btn_primary{{/primary}} {{#success}}btn_success{{/success}} {{#info}}btn_info{{/info}} {{#warning}}btn_warning{{/warning}} {{#danger}}btn_danger{{/danger}} {{#special}}btn_special{{/special}} {{#warningBordered}}btn_warning-bordered{{/warningBordered}}">Button</button>
