<div class="mbmd">
  <button class="btn btn_large">Large button</button>
  <button class="btn btn_primary btn_large">Large button</button>
</div>
<div class="mbmd">
  <button class="btn">Default button</button>
  <button class="btn btn_primary">Default button</button>
</div>
<div class="mbmd">
  <button class="btn btn_primary btn_small">Small button</button>
</div>
<div class="mbmd">
  <button class="btn btn_block mbsm">Block level</button>
  <button class="btn btn_primary btn_block">Block level</button>
</div>
