<div class="mask" style="position: relative">
  <div>
    <div class="mask__header ptsm pbsm plmd prmd">
      <div class="lf lf_align-middle">
        <a href="#" class="txt-white mrmd">
          <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <div class="f lf_full-space">
          <input type="text" class="f__control" placeholder="Type a programming language">
        </div>
      </div>
    </div>
  </div>
</div>
