<div class="modal" tabIndex="-1" role="dialog" style="position: relative; display: block; opacity: 1;">
  <div class="modal__dialog">
    <div class="modal__content fade-in-down">
      <div class="modal__header modal__header_2">
        <h3 class="modal__title">Modal title</h3>
        <button type="button" class="modal__btn-close txt-white">
          <i class="fa fa-times fa-lg"></i>
        </button>
      </div>
      <div class="modal__body">
        Modal content
      </div>
      <div class="modal__footer">
        Modal footer
      </div>
    </div>
  </div>
</div>
