<ul class="sg-colors">
  <li>
    <div class="sg-swatch" style="background: #e7e5e5"></div>
    <div class="sg-label">Gray</div>
    <div class="sg-label">#e7e5e5</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #fdfdfd"></div>
    <div class="sg-label">Gray 2</div>
    <div class="sg-label">#fdfdfd</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: f7f7f7"></div>
    <div class="sg-label">Gray lighten</div>
    <div class="sg-label">f7f7f7</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #2d2c2c"></div>
    <div class="sg-label">Black</div>
    <div class="sg-label">#2d2c2c</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #535353"></div>
    <div class="sg-label">Black lighten</div>
    <div class="sg-label">#535353</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #f5f5f5"></div>
    <div class="sg-label">Wild sand</div>
    <div class="sg-label">#f5f5f5</div>
  </li>
</ul>
