<section class="st bg-white">
  <div class="st__menu">
    {{!-- <button class="st__menu-toggle"><i class="fa fa-bars"></i></button> --}}
    <div class="st__menu-content">
      {{> molecules-sidenav-2}}
    </div>
  </div>
  <div class="st__content">
    <div class="st__content-body">
      <div class="row expanded">
        <div class="medium-6 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="medium-6 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <footer class="st__content-footer clearfix">
      <div class="small-12 column lf">
        <div class="lf_full-space">
          <button class="btn btn_reset txt-white">Reset</button>
        </div>
        <button class="btn btn_reset txt-white">Continue <i class="fa fa-chevron-right"></i></button>
      </div>
    </footer>
  </div>
</section>
