<div class="lf {{#verticalCenter}}lf_align-middle{{/verticalCenter}}">
  <div class="{{#noGas}}lf_no-gas{{/noGas}}">
    <img src="https://unsplash.it/200/100" alt="" />
  </div>
  <div style="width: 400px; height: 120px; background-color: rgb(255, 0, 255);" class="{{#fullSpace}}lf_full-space"{{/fullSpace}}></div>
  <div style="width: 100px; height: 200px; background-color: rgb(255, 255, 0);"></div>
</div>
