<div class="grid-1">
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
  <article class="card-2 card-2_full-width">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
</div>
