<div style="background-color: rgb(0, 255, 255)" class="pbxxlg">
  <div style="background-color: #fff;" class="mbxs">
    Margin bottom extra small
  </div>
  <div style="background-color: #fff;" class="mbsm">
    Margin bottom small
  </div>
  <div style="background-color: #fff;" class="mbmd">
    Margin bottom medium
  </div>
  <div style="background-color: #fff;" class="mblg">
    Margin bottom large
  </div>
  <div style="background-color: #fff;" class="mbxlg">
    Margin bottom extra large
  </div>
  <div style="background-color: #fff;" class="mbxxlg">
    Margin bottom xxlarge
  </div>
</div>
