<p class="{{#large}}txt-large{{/large}}{{#small}}txt-small{{/small}}{{#muted}}txt-muted{{/muted}}{{#bold}}txt-bold{{/bold}}{{#uppercase}}txt-uppercase{{/uppercase}}">Nhà thờ Đức Bà Sài Gòn bắt đầu được trùng tu</p>
