<div class="mbmd">
  <button class="btn-social btn-social_fb">
    <div class="btn-social__addon">
      <i class="fa fa-facebook fa-2x"></i>
    </div>
    <div class="btn-social__text">
      Login with Facebook
    </div>
  </button>
</div>

<button class="btn-social btn-social_gg">
  <div class="btn-social__addon">
    <i class="fa fa-google-plus fa-2x"></i>
  </div>
  <div class="btn-social__text">Login with Google+</div>
</button>
