<div class="carousel-2">
  <div class="carousel-2__main" id="carousel-2">
    <div class="carousel-2__item">
      <img class="carousel-2__img" src="https://unsplash.it/1300/600" alt="">
      <div class="carousel-2__content">

        <div class="row">
          <div class="small-12 medium-4 columns">
            <div class="txt-white">
              Your essay will be improved.<br> Comprehensively.
              <br> In all aspects.
            </div>
            <button class="btn btn_warning btn_large txt-uppercase">
              Edit essay <i class="fa fa-chevron-right"></i>
            </button>
          </div>
          <div class="small-12 medium-8 columns">
            how are you
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-2__item">
      <img class="carousel-2__img" src="https://unsplash.it/1300/600" alt="">
    </div>
    <div class="carousel-2__item">
      <img class="carousel-2__img" src="https://unsplash.it/1300/600" alt="">
    </div>
    <div class="carousel-2__item">
      <img class="carousel-2__img" src="https://unsplash.it/1300/600" alt="">
    </div>
  </div>

  <div class="carousel-2__control" id="carousel-2-control">
    <div class="carousel-2__control-item">Grammar</div>
    <div class="carousel-2__control-item">Word choice</div>
    <div class="carousel-2__control-item">Flow</div>
    <div class="carousel-2__control-item">Sentence</div>
  </div>
</div>