<div class="row expanded">
  <div class="medium-6 large-4 column">

    <a href="#" class="card" style="background-image: url(https://unsplash.it/800)">
      <div class="card__content">
        <div class="card__sub-title mbreset medium-mbsm">IELTS Task 1</div>
        <h3 class="card__title">Writing</h3>
      </div>
    </a>

  </div>
</div>
