<ul class="sg-colors">
  <li>
    <div class="sg-swatch" style="background: #1dd069"></div>
    <div class="sg-label">Primary</div>
    <div class="sg-label">$jade: #1dd069</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #03bd85"></div>
    <div class="sg-label">Primary lighten</div>
    <div class="sg-label">$jade-lighten: #03bd85</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #f07736"></div>
    <div class="sg-label">Secondary</div>
    <div class="sg-label">$jaffa: #f07736</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #f7945f"></div>
    <div class="sg-label">Secondary lighten</div>
    <div class="sg-label">$tan-hide: #f7945f</div>
  </li>
</ul>