<div class="mbmd">
  <input type="text" class="f__control{{#small}} f__control_small{{/small}}" placeholder="Input text" {{#disabled}}disabled{{/disabled}} />
</div>
<div class="mbmd">
  <input type="email" class="f__control{{#small}} f__control_small{{/small}}" placeholder="Email" {{#disabled}}disabled{{/disabled}} />
</div>
<div class="mbmd">
  <input type="password" class="f__control{{#small}} f__control_small{{/small}}" placeholder="Password" {{#disabled}}disabled{{/disabled}} />
</div>