<div class="f__radio {{#inline}}f__radio_inline{{/inline}}">
  <input id="radio-a-1" type="radio" name="radio" />
  <label for="radio-a-1">Option one</label>
</div>
<div class="f__radio {{#inline}}f__radio_inline{{/inline}}">
  <input id="radio-a-2" type="radio" name="radio" />
  <label for="radio-a-2">Option two</label>
</div>
<div class="f__radio disabled {{#inline}}f__radio_inline{{/inline}}">
  <input id="radio-a-3" type="radio" name="radio" disabled="disabled" />
  <label for="radio-a-3">Option three is disabled</label>
</div>