.app-header {
  &__logo {
    position: relative;
    display: inline-block;

    transform: translateY(6px);
  }

  &__wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-30;
  }

  &__main {
    position: relative;

    display: flex;
    align-items: center;
    padding: $space-md 20px;

    background-color: $white;

    @include header-shadow;
  }

  // &__nav {
  //   width: 100%;
  //   max-width: 300px;
  // }

  &__search-wrap {
    position: relative;
  }

  &__suggest-box {
    position: absolute;
    top: 100%;
    left: 0;

    width: 640px;
    margin-top: $space-sm;

    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $radius;

    transform: translateX(-30%);
  }

  &__suggest-item {
    display: block;
    padding: $space-md;

    color: $body-color;

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }

    &.active,
    &:hover {
      background-color: $border-color;
    }
  }

  &__search-box {
    max-width: 360px;
  }

  &__search-input {
    display: block;
    width: 100%;
    padding: $space-sm $space-sm $space-sm $space-lg;

    font-size: $font-size-h5;
    // color: $muted;

    background-color: $alabaster;
    border-radius: $radius;

    @include border($border-color);

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    padding: $space-xs $space-sm;

    color: $muted;

    background-color: transparent;
    border: 0;
  }

  &__action-box {
    flex-grow: 1;
  }

  &__ghost {
    height: 109px;

    @media (--medium-up) {
      height: 125px;
    }

    @media (--large-up) {
      height: 160px;
    }
  }

  &__backdrop {
    @include backdrop;
  }
}
