.app-header {
  &__logo {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &__main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-max;

    // padding: $space-xs 0;

    background-color: $color-primary;
  }

  &__nav {
    width: 100%;
    max-width: 300px;
  }

  &__search-wrap {
    position: relative;
  }

  &__suggest-box {
    position: absolute;
    top: 100%;
    left: 0;

    width: 640px;
    margin-top: $space-sm;

    background-color: $white;
    border-radius: $radius;

    transform: translateX(-30%);
  }

  &__suggest-item {
    display: block;
    padding: $space-sm;

    color: $body-color;

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }

    &.active,
    &:hover {
      background-color: $border-color;
    }
  }

  &__search-box {
    max-width: 360px;
  }

  &__search-input {
    display: block;
    size: 100% auto;
    padding: $space-xs $space-sm $space-xs $space-xlg;

    font-size: $font-size-h5;

    background-color: $white;
    border-radius: $radius;

    @include border($border-color);

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    padding: $space-xs $space-sm;

    color: $color-primary;

    background-color: transparent;
    border: 0;
  }

  &__action-box {
    flex-grow: 1;
  }

  &__ghost {
    height: 109px;

    @media (--medium-up) {
      height: 125px;
    }

    @media (--large-up) {
      height: 160px;
    }
  }

  &__backdrop {
    position: fixed 0;
    z-index: $z-index-20;

    background-color: rgba($body-color, 0.7);
  }
}
