// stylelint-disable selector-max-type, selector-no-qualifying-type, scss/selector-no-redundant-nesting-selector

.f {
  width: 100%;

  &__control {
    display: block;
    width: 100%;
    padding: $space-sm;

    background-color: $white;
    border-radius: $radius;

    @include border($border-color);

    &:focus {
      border-color: $color-info;
      outline: 0;

      @include box-shadow;
    }

    &[disabled] {
      background-color: lighten($muted, 20%);
      opacity: $opacity;
    }

    /* inline */

    &_inline {
      display: inline-block;
      width: auto;
    }

    /* input group */

    &_ig {
      display: table-cell;
      float: left;
    }

    &_ig-border {
      border: 2px solid rgba($color-primary, 0.3);
      border-right: 0;
    }

    /* input size */

    // &_large {
    //   height: auto;
    //   padding-top: $space-sm;
    //   padding-bottom: $space-sm;
    // }

    &_small {
      padding-top: $space-xs;
      padding-bottom: $space-xs;

      font-size: $font-size-h6;
    }

    /* input width */

    &_width-auto {
      width: auto;
    }
  }

  &__checkbox,
  &__radio {
    label {
      position: relative;
      padding-left: 20px;

      font-weight: $font-weight-normal;

      cursor: pointer;

      &::before {
        position: absolute;
        top: 4px;
        left: 0;
        size: 13px;

        font-family: FontAwesome;
        line-height: 12px;
        color: $white;
        text-align: center;
        content: "";

        background-color: $white;
        border: 1px solid $muted;
      }
    }

    [type="checkbox"],
    [type="radio"] {
      display: none;

      &:checked + label::before {
        color: $muted;
      }
    }

    &.disabled {
      color: $muted;

      label {
        cursor: not-allowed;
      }
    }

    &_inline {
      display: inline-block;

      &:not(:first-child) {
        margin-left: $space-md;
      }
    }
  }

  &__radio {
    label::before {
      font-size: 6px;

      border-radius: 50%;
    }

    [type="radio"]:checked + label::before {
      content: "\f111";
    }
  }

  &__checkbox {
    label::before {
      font-size: 9px;

      border-radius: $radius;
    }

    [type="checkbox"]:checked + label::before {
      content: "\f00c";
    }
  }

  &__help-text {
    font-size: $font-size-h6;
    font-style: italic;
    color: $muted;
  }

  &__input-group {
    position: relative;

    display: flex;
  }

  &__input-addon {
    padding: $space-xs $space-md;

    white-space: nowrap;
    vertical-align: middle;

    background-color: $muted;
    border: 0;
    border-radius: $radius;
  }

  &__group {
    position: relative;
  }

  &__control-2 {
    display: block;
    width: 100%;
    padding: $space-sm $space-sm $space-sm 0;

    border-top: 1px solid transparent;
    border-right: 0;
    border-bottom: 1px solid $border-color;
    border-left: 0;

    &:focus {
      border-bottom-color: $color-info;
      outline: none;
    }

    &[disabled] {
      background-color: $border-color;
      border-radius: $radius;
    }

    label {
      margin-bottom: 0;
    }

    &_filled {
      & ~ label {
        transform:
          translate3d(0, (-$space-md * $line-height-base), 0)
          scale3d(0.8, 0.8, 1);
      }
    }

    &_error {
      color: $color-danger;

      border-bottom-color: $color-danger;

      &:focus {
        border-bottom-color: $color-danger;
      }

      & ~ label {
        color: $color-danger;
      }
    }
  }

  &__label-2 {
    position: absolute;
    top: $space-sm;
    left: 0;

    font-weight: $font-weight-normal;
    color: $muted;

    pointer-events: none;
    transition: transform $transition-time $transition-effect;
    transform-origin: 0 0;
    will-change: transform;
  }

  &__control-3 {
    padding: 0 $space-sm;

    background-color: transparent;
    border: 0;
    border-bottom: 1px dashed $body-color;

    &.error {
      color: $color-danger;
    }

    &.success {
      color: $color-primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    right: 0;

    padding: $space-sm;

    background-color: transparent;
    border: 0;
    transform: translateY(-50%);
  }
}

select.f__control:not([size]):not([multiple]) {
  height: ($font-size-base * $line-height-base + ($space-sm * 2) + 2);
}
