.h {
  display: flex;
  align-items: center;

  border-bottom: 1px solid $border-color;

  &__addon {
    padding: $space-sm $space-md;
    margin-right: $space-md;

    font-size: $font-size-h3;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;

    background-color: $border-color;
    border-radius: $radius $radius 0 0;
  }

  &__content {
    position: relative;

    display: inline-block;
    margin-bottom: 0;

    font-size: $font-size-h4;
    font-weight: $font-weight-normal;
  }
}
