.app-mobile-header {
  position: relative;
  z-index: $z-index-20;

  padding: $space-md 20px;

  background-color: $white;

  @include header-shadow;

  &__logo {
    position: relative;
    display: inline-block;

    transform: translateY(6px);
  }

  &__btn {
    float: right;

    color: $body-color;

    background-color: transparent;
    border: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: none;
    overflow: hidden;

    &.show {
      display: block;
    }
  }
}
