.mobile-nav {
  background-color: $white;

  &__link {
    display: block;
    padding: $space-sm 0;

    font-weight: $font-weight-bold;
    color: $body-color;

    &:focus,
    &.active {
      color: $color-primary;
    }
  }
}
