.nav-tab {
  position: relative;

  &__list {
    display: flex;
    overflow-x: auto;

    white-space: nowrap;

    @include reset-default-list-style;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 1;

    text-align: center;

    border: 2px solid transparent;
    border-bottom-color: $border-color;

    &:not(:last-child) {
      margin-right: -3px;
    }

    &.active {
      border-top-color: $color-primary;
      border-right-color: $border-color;
      border-bottom-color: transparent;
      border-left-color: $border-color;

      &:first-child {
        border-left-color: transparent;
      }

      &:last-child {
        border-right-color: transparent;
      }

      .nav-tab__link {
        color: $color-primary;
      }
    }
  }

  &__link {
    display: block;
    padding: $space-sm;

    font-weight: $font-weight-normal;
    color: $body-color;

    &:hover {
      color: $color-primary;
    }
  }
}
