.nav {
  display: flex;

  text-align: center;

  // background-color: $white;

  &__link {
    position: relative;
    // flex: 1;
    padding: 0 $space-md;

    font-weight: $font-weight-bold;
    line-height: 1;
    color: $body-color;
    text-transform: uppercase;

    transition: color $transition-time $transition-effect;

    // &:not(:last-child) {
    //   margin-right: $space-lg;
    // }

    &.active,
    &:hover {
      color: $color-primary;

      &::after {
        position: absolute;
        bottom: -26px;
        left: 0;

        display: block;
        size: 100% $space-xs;
        content: "";

        background-color: $color-primary;
      }
    }
  }
}
