.nav {
  display: flex;

  text-align: center;

  background-color: $color-primary;

  &__link {
    flex: 1;
    padding: ($space-sm + 2) $space-xs $space-sm;

    font-weight: $font-weight-normal;
    line-height: 1;

    color: $white;

    transition: background-color $transition-time $transition-effect;

    // &:not(:last-child) {
    //   margin-right: $space-sm;
    // }

    &.active,
    &:hover {
      color: $white;

      background-color: $jade-lighten;
    }
  }

  &__text {
    margin-top: $space-sm;

    font-size: 14px;
  }
}
