@mixin sidenav-2-item {
  position: relative;

  display: block;
  padding: $space-md 0 $space-md $space-sm;

  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  color: $muted;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: $space-md;
    height: 1px;
    content: "";

    background-color: $border-color;
  }
}

.sidenav-2 {
  &__title {
    margin-bottom: 0;

    line-height: 1;

    @include sidenav-2-item;
  }

  &__item {
    @include sidenav-2-item;

    &:hover,
    &.active {
      color: $body-color;
    }
  }

  &__sub-item {
    display: block;
    margin-bottom: $space-md;

    // font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    color: $muted;

    &:hover,
    &.active {
      color: $body-color;
    }
  }

  &__collapse-body {
    display: none;

    &.active {
      display: block;
    }
  }
}
