@mixin sidenav-2-item {
  position: relative;

  display: block;
  padding: $space-md 0 $space-md $space-sm;

  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: 1.5;
  color: $muted;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: $space-md;
    height: 1px;
    content: "";

    background-color: $border-color;
  }
}

.sidenav-2 {
  &__header-title {
    margin-bottom: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include sidenav-2-item;
  }

  &__title {
    @include sidenav-2-item;
  }

  &__item {
    @include sidenav-2-item;

    &:hover,
    &.active {
      color: $color-primary;
    }
  }

  &__sub-item {
    display: block;
    margin-bottom: $space-md;

    // font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    color: $muted;

    &:hover,
    &.active {
      color: $color-primary;
    }

    @media (--large-up) {
      &:hover .sidenav-2__sub-item-addon {
        visibility: visible;
      }
    }
  }

  &__sub-item-addon {
    visibility: visible;

    @media (--large-up) {
      visibility: hidden;
    }
  }

  &__collapse-body {
    display: none;

    &.active {
      display: block;
    }
  }
}

a.sidenav-2__header-title:hover { /* stylelint-disable-line */
  color: $body-color;
}
