.st {
  $baseWidth: 200px;
  $sidebarWidth: $baseWidth;

  position: relative;

  min-height: 100%;
  overflow-x: hidden;

  &.show {
    .st__menu {
      transform: translate3d(0, 0, 0);
    }

    .st__content {
      transform: translate3d($baseWidth, 0, 0);

      @media (--large-up) {
        transform: translateX(0);
      }
    }

    .st__menu-content {
      visibility: visible;
      opacity: 1;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-10;

    width: $sidebarWidth;
    padding: $space-lg $space-md $space-md;
    overflow-x: hidden;

    background-color: $alabaster;
    transition: transform $transition-time $transition-effect;
    // transform: translateX(-$baseWidth);
    transform: translate3d(-$sidebarWidth, 0, 0);

    @media (--large-up) {
      transform: translate3d(0, 0, 0);
    }
  }

  &__menu-toggle {
    position: absolute;
    top: $space-md;
    right: 0;

    width: $space-lg;

    background-color: transparent;
    border: 0;

    @media (--large-up) {
      display: none;
    }
  }

  &__menu-content {
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;

    transition: opacity $transition-time $transition-effect;
    transition-delay: $transition-time;

    @media (--large-up) {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content {
    position: relative;

    display: flex;
    // min-height: 100vh;
    // margin-left: $space-lg;
    flex-direction: column;

    background-color: $white;
    transition: transform $transition-time $transition-effect;

    @media (--large-up) {
      margin-left: $sidebarWidth;
    }
  }

  &__content-body {
    flex: 1;
    padding-right: $space-md;
    padding-left: $space-md;

    @media (--large-up) {
      padding-right: $space-lg;
      padding-left: $space-lg;
    }
  }

  // &__content-footer {
  //   padding: $space-lg 0;
  //   background-color: $color-primary;
  // }
}
