.wtag {
  display: inline-block;

  color: $muted;

  &:hover {
    color: $muted;

    text-decoration: underline;
  }
}

.wtag-2 {
  display: inline-block;
  padding: $space-xs $space-md;

  color: $color-primary;

  background-color: $white;
  border: 1px solid $color-primary;
  border-radius: $radius;
}

.wtag-3 {
  padding: 1px $space-xs;

  font-size: $font-size-tiny;
  color: $muted;

  background-color: $border-color;
  border-radius: $radius;
}

.wtag-4 {
  display: inline-block;
  padding: 2px $space-xs;

  font-size: $font-size-h6;
  // color: $white;

  background-color: transparent;
  border: 1px solid $body-color;
  border-radius: $radius;

  &.active {
    border: 0;
  }
}

.wtag-5 {
  display: inline-block;
  padding: 2px $space-xs;

  font-size: $font-size-h6;
  color: $white;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: $radius;

  &.active {
    border: 0;
  }
}
