<div style="height: 8rem; width: 8rem;">
  <article class="card-2{{#unlock}} active{{/unlock}}{{#full}} card-2_full-space{{/full}}">
    <h3 class="card-2__title">4</h3>
    <div class="card-2__addon">
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </div>
  </article>
</div>