/* Border */
@mixin border($border-color: transparent) {
  border: 1px solid $border-color;
}

/* Box shadow */
@mixin box-shadow {
  box-shadow:
    inset 0 1px 1px rgba($body-color, 0.075),
    0 0 8px rgba($color-info, 0.6);
}

/* Reset default list style */
@mixin reset-default-list-style {
  padding: 0;
  margin: 0;

  li { /* stylelint-disable-line */
    list-style: none;
  }
}

/* Header shadow */
@mixin header-shadow {
  box-shadow: 0 2px 4px 0 rgba($body-color, 0.5);
}

/* Header shadow */
@mixin text-ellipsis($line: 1, $fz: 1rem) {
  display: -webkit-box; /* stylelint-disable-line */
  max-height: ($line-height-base * $line * $fz);
  overflow: hidden;

  line-height: $line-height-base;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; /* stylelint-disable-line */
  -webkit-line-clamp: $line; /* stylelint-disable-line */
}
