<ul class="{{#unstyled}}list-unstyled{{/unstyled}}{{#underline}}list-underline{{/underline}}{{#inline}}list-inline{{/inline}}{{#inline2}}list-inline-2{{/inline2}}">
  <li>Cup of tea £1.50</li>
  <li>Pot of tea for two £2.50</li>
  <li>Filter coffee £1.60</li>
  <li>Americano £2.00</li>
  <li>Cappuccino £2.50</li>
</ul>