<ul class="sg-colors">
  <li>
    <div class="sg-swatch" style="background: #da4453"></div>
    <div class="sg-label">Error</div>
    <div class="sg-label">#da4453</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #ed5565"></div>
    <div class="sg-label">Error lighten</div>
    <div class="sg-label">#ed5565</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #f6bb42"></div>
    <div class="sg-label">Warning</div>
    <div class="sg-label">#f6bb42</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #ffdd87"></div>
    <div class="sg-label">Warning lighten</div>
    <div class="sg-label">#ffdd87</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #5bc0eb"></div>
    <div class="sg-label">Info</div>
    <div class="sg-label">#5bc0eb</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #8cc152"></div>
    <div class="sg-label">Success</div>
    <div class="sg-label">#8cc152</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #a0d468"></div>
    <div class="sg-label">Success lighten</div>
    <div class="sg-label">#a0d468</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #3b5998"></div>
    <div class="sg-label">Facebook</div>
    <div class="sg-label">#3b5998</div>
  </li>
  <li>
    <div class="sg-swatch" style="background: #dd4b39"></div>
    <div class="sg-label">Google plus</div>
    <div class="sg-label">#dd4b39</div>
  </li>
</ul>
