<div class="panel">
  <div class="panel__heading">
    <h3 class="panel__title">Panel title</h3>
  </div>
  <div class="panel__body">
    Travel from here to there for a 3 day weekend break from only £25 return.
  </div>
</div>
