<article class="medium-ptmd medium-pbmd ptxlg pbxlg">
  {{> organisms-question-header}} {{> organisms-question-title}} {{> organisms-question-answer-content}} {{> organisms-question-answer-action}}
</article>